body {
	padding-top: 2rem;
    font-family: Verdana;
    font-size: 0.9rem;
}

textarea {
    width: 70%;
    text-align: justify;
}

.navbar-brand {
    font-size: 2rem;
}

.container {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bottom-item {
    padding-right: 0.8rem;
    float: right;
}

.forceCenter {
    display: block;
    margin: auto;
}

.forceLeft {
    display: block;
    float: left;
}

.forceRight {
    display: block;
    float: right;
}

.errorMessage {
    background-color: #ff9999;
}

.okMessage {
    background-color: #ccffcc;
}

#msgBox {
    margin-top: 2rem;
    padding-top: 2rem;
    padding: 1rem;
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.results {
    margin: auto;
}

.navigation {
    font-size: 11px;
}

.pointer:hover {
    cursor: pointer;
}